/* my variables */

:root {

    --clr-primary-400: hsl(0, 100%, 74%);
    --clr-primary-300: hsl(154, 59%, 51%);

    --clr-accent-600: hsl(248, 32%, 49%);

    --clr-neutral-700: hsl(249, 10%, 26%);
    --clr-neutral-200: hsl(246, 25%, 77%);
    --clr-neutral-100: hsl(0, 0%, 100%);

    --ff-primary: "Poppins", sans-serif;

    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semi-bold: 600;
    --fw-bold: 700;

    --fs-body: 1rem;
}

/* general styling */

body {
    font-family: var(--ff-primary);
    font-weight: var(--fw-regular);
    font-size: var(--fs-body);
    color: var(--clr-neutral-100);
    background-color: var(--clr-primary-400);
}

/* container */

.container {
    margin: 4rem 1rem;
    text-align: center;
}

/* course description */

.course__description {
    display: grid;
    gap: 1.5rem;
    padding: 0.5rem;
}

.course__title {
    font-size: 1.7rem;
}